body {
  position: relative;
  top:24px;
  width:800px;
  max-width:800px;
  min-width:324px;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  gap:24px;
}
button {
  background-color: #fafafa;
  border: 1px outset darkgray;
  color:black;
}